* {
  margin: 0;
  padding: 0; }

body {
  width: 100vw;
  height: 100vh;
  background: -webkit-radial-gradient(#351454, #2c1146 20%, #1f0c32) no-repeat 100% 100%;
  background: radial-gradient(#351454, #2c1146 20%, #1f0c32) no-repeat 100% 100%; }

.wrapper {
  height: 100%;
  -webkit-perspective: 800px;
          perspective: 800px;
  position: relative; }
  .wrapper .flw_wrap {
    display: inline-block;
    position: absolute;
    bottom: 0%;
    right: 6%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    -webkit-transform: rotate3d(0.2, 0.4, 0.2, 20deg) translateY(10px) scale(1);
            transform: rotate3d(0.2, 0.4, 0.2, 20deg) translateY(10px) scale(1); }
    .wrapper .flw_wrap .flw {
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
      .wrapper .flw_wrap .flw > div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: absolute;
        -webkit-transform-origin: center bottom;
            -ms-transform-origin: center bottom;
                transform-origin: center bottom;
        -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 0, 0.2);
                box-shadow: 0 0 8px 0 rgba(255, 255, 0, 0.2); }
  .wrapper .box_wrap {
    display: inline-block;
    position: absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    .wrapper .box_wrap .box {
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      width: 5vw;
      height: 5vw; }
      .wrapper .box_wrap .box > div {
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 0, 0.2);
                box-shadow: 0 0 8px 0 rgba(255, 255, 0, 0.2);
        position: absolute; }
      .wrapper .box_wrap .box .face1 {
        background-color: rgba(20, 185, 170, 0.4);
        -webkit-transform: rotateY(0deg) translateZ(2.5vw) rotateX(0);
                transform: rotateY(0deg) translateZ(2.5vw) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .box_wrap .box .face2 {
        background-color: rgba(20, 185, 170, 0.4);
        -webkit-transform: rotateY(90deg) translateZ(2.5vw) rotateX(0);
                transform: rotateY(90deg) translateZ(2.5vw) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .box_wrap .box .face3 {
        background-color: rgba(20, 185, 170, 0.4);
        -webkit-transform: rotateY(180deg) translateZ(2.5vw) rotateX(0);
                transform: rotateY(180deg) translateZ(2.5vw) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .box_wrap .box .face4 {
        background-color: rgba(20, 185, 170, 0.4);
        -webkit-transform: rotateY(270deg) translateZ(2.5vw) rotateX(0);
                transform: rotateY(270deg) translateZ(2.5vw) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .box_wrap .box .face5 {
        background-color: rgba(20, 185, 170, 0.4);
        -webkit-transform: rotateY(360deg) translateZ(2.5vw) rotateX(0);
                transform: rotateY(360deg) translateZ(2.5vw) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .box_wrap .box .top {
        -webkit-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        background-color: rgba(20, 185, 170, 0.4);
        -webkit-transform: translateZ(-2.5vw) rotateX(90deg);
                transform: translateZ(-2.5vw) rotateX(90deg); }
      .wrapper .box_wrap .box .bottom {
        background-color: rgba(20, 185, 170, 0.4);
        -webkit-transform: rotateX(90deg) translateZ(-2.5vw);
                transform: rotateX(90deg) translateZ(-2.5vw); }
  .wrapper .umbrella_wrap {
    display: inline-block;
    position: absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    left: 10%;
    top: 20%;
    -webkit-transform: rotate3d(0.6, 1, 0.2, 30deg);
            transform: rotate3d(0.6, 1, 0.2, 30deg);
    position: relative; }
    .wrapper .umbrella_wrap .umbrella {
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      width: 34px;
      height: 54px; }
      .wrapper .umbrella_wrap .umbrella > div {
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-transform-origin: center top;
            -ms-transform-origin: center top;
                transform-origin: center top; }
      .wrapper .umbrella_wrap .umbrella .face1 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(0deg) translateZ(5px) rotateX(0);
                transform: rotateY(0deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella1 ease 6s forwards;
                animation: umbrella1 ease 6s forwards; }

@-webkit-keyframes umbrella1 {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(5px) rotateX(0);
            transform: rotateY(0deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(0deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(0deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella1 {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(5px) rotateX(0);
            transform: rotateY(0deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(0deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(0deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face2 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(22.5deg) translateZ(5px) rotateX(0);
                transform: rotateY(22.5deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella2 ease 6s forwards;
                animation: umbrella2 ease 6s forwards; }

@-webkit-keyframes umbrella2 {
  0% {
    -webkit-transform: rotateY(22.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(22.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(22.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(22.5deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella2 {
  0% {
    -webkit-transform: rotateY(22.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(22.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(22.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(22.5deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face3 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(45deg) translateZ(5px) rotateX(0);
                transform: rotateY(45deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella3 ease 6s forwards;
                animation: umbrella3 ease 6s forwards; }

@-webkit-keyframes umbrella3 {
  0% {
    -webkit-transform: rotateY(45deg) translateZ(5px) rotateX(0);
            transform: rotateY(45deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(45deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(45deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella3 {
  0% {
    -webkit-transform: rotateY(45deg) translateZ(5px) rotateX(0);
            transform: rotateY(45deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(45deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(45deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face4 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(67.5deg) translateZ(5px) rotateX(0);
                transform: rotateY(67.5deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella4 ease 6s forwards;
                animation: umbrella4 ease 6s forwards; }

@-webkit-keyframes umbrella4 {
  0% {
    -webkit-transform: rotateY(67.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(67.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(67.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(67.5deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella4 {
  0% {
    -webkit-transform: rotateY(67.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(67.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(67.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(67.5deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face5 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(90deg) translateZ(5px) rotateX(0);
                transform: rotateY(90deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella5 ease 6s forwards;
                animation: umbrella5 ease 6s forwards; }

@-webkit-keyframes umbrella5 {
  0% {
    -webkit-transform: rotateY(90deg) translateZ(5px) rotateX(0);
            transform: rotateY(90deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(90deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(90deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella5 {
  0% {
    -webkit-transform: rotateY(90deg) translateZ(5px) rotateX(0);
            transform: rotateY(90deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(90deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(90deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face6 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(112.5deg) translateZ(5px) rotateX(0);
                transform: rotateY(112.5deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella6 ease 6s forwards;
                animation: umbrella6 ease 6s forwards; }

@-webkit-keyframes umbrella6 {
  0% {
    -webkit-transform: rotateY(112.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(112.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(112.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(112.5deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella6 {
  0% {
    -webkit-transform: rotateY(112.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(112.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(112.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(112.5deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face7 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(135deg) translateZ(5px) rotateX(0);
                transform: rotateY(135deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella7 ease 6s forwards;
                animation: umbrella7 ease 6s forwards; }

@-webkit-keyframes umbrella7 {
  0% {
    -webkit-transform: rotateY(135deg) translateZ(5px) rotateX(0);
            transform: rotateY(135deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(135deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(135deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella7 {
  0% {
    -webkit-transform: rotateY(135deg) translateZ(5px) rotateX(0);
            transform: rotateY(135deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(135deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(135deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face8 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(157.5deg) translateZ(5px) rotateX(0);
                transform: rotateY(157.5deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella8 ease 6s forwards;
                animation: umbrella8 ease 6s forwards; }

@-webkit-keyframes umbrella8 {
  0% {
    -webkit-transform: rotateY(157.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(157.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(157.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(157.5deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella8 {
  0% {
    -webkit-transform: rotateY(157.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(157.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(157.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(157.5deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face9 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(180deg) translateZ(5px) rotateX(0);
                transform: rotateY(180deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella9 ease 6s forwards;
                animation: umbrella9 ease 6s forwards; }

@-webkit-keyframes umbrella9 {
  0% {
    -webkit-transform: rotateY(180deg) translateZ(5px) rotateX(0);
            transform: rotateY(180deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(180deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(180deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella9 {
  0% {
    -webkit-transform: rotateY(180deg) translateZ(5px) rotateX(0);
            transform: rotateY(180deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(180deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(180deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face10 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(202.5deg) translateZ(5px) rotateX(0);
                transform: rotateY(202.5deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella10 ease 6s forwards;
                animation: umbrella10 ease 6s forwards; }

@-webkit-keyframes umbrella10 {
  0% {
    -webkit-transform: rotateY(202.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(202.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(202.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(202.5deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella10 {
  0% {
    -webkit-transform: rotateY(202.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(202.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(202.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(202.5deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face11 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(225deg) translateZ(5px) rotateX(0);
                transform: rotateY(225deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella11 ease 6s forwards;
                animation: umbrella11 ease 6s forwards; }

@-webkit-keyframes umbrella11 {
  0% {
    -webkit-transform: rotateY(225deg) translateZ(5px) rotateX(0);
            transform: rotateY(225deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(225deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(225deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella11 {
  0% {
    -webkit-transform: rotateY(225deg) translateZ(5px) rotateX(0);
            transform: rotateY(225deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(225deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(225deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face12 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(247.5deg) translateZ(5px) rotateX(0);
                transform: rotateY(247.5deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella12 ease 6s forwards;
                animation: umbrella12 ease 6s forwards; }

@-webkit-keyframes umbrella12 {
  0% {
    -webkit-transform: rotateY(247.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(247.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(247.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(247.5deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella12 {
  0% {
    -webkit-transform: rotateY(247.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(247.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(247.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(247.5deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face13 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(270deg) translateZ(5px) rotateX(0);
                transform: rotateY(270deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella13 ease 6s forwards;
                animation: umbrella13 ease 6s forwards; }

@-webkit-keyframes umbrella13 {
  0% {
    -webkit-transform: rotateY(270deg) translateZ(5px) rotateX(0);
            transform: rotateY(270deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(270deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(270deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella13 {
  0% {
    -webkit-transform: rotateY(270deg) translateZ(5px) rotateX(0);
            transform: rotateY(270deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(270deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(270deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face14 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(292.5deg) translateZ(5px) rotateX(0);
                transform: rotateY(292.5deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella14 ease 6s forwards;
                animation: umbrella14 ease 6s forwards; }

@-webkit-keyframes umbrella14 {
  0% {
    -webkit-transform: rotateY(292.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(292.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(292.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(292.5deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella14 {
  0% {
    -webkit-transform: rotateY(292.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(292.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(292.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(292.5deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face15 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(315deg) translateZ(5px) rotateX(0);
                transform: rotateY(315deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella15 ease 6s forwards;
                animation: umbrella15 ease 6s forwards; }

@-webkit-keyframes umbrella15 {
  0% {
    -webkit-transform: rotateY(315deg) translateZ(5px) rotateX(0);
            transform: rotateY(315deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(315deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(315deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella15 {
  0% {
    -webkit-transform: rotateY(315deg) translateZ(5px) rotateX(0);
            transform: rotateY(315deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(315deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(315deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face16 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(337.5deg) translateZ(5px) rotateX(0);
                transform: rotateY(337.5deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella16 ease 6s forwards;
                animation: umbrella16 ease 6s forwards; }

@-webkit-keyframes umbrella16 {
  0% {
    -webkit-transform: rotateY(337.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(337.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(337.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(337.5deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella16 {
  0% {
    -webkit-transform: rotateY(337.5deg) translateZ(5px) rotateX(0);
            transform: rotateY(337.5deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(337.5deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(337.5deg) translateZ(5px) rotateX(50deg); } }
      .wrapper .umbrella_wrap .umbrella .face17 {
        background-color: rgba(200, 35, 35, 0.6);
        -webkit-transform: rotateY(360deg) translateZ(5px) rotateX(0);
                transform: rotateY(360deg) translateZ(5px) rotateX(0);
        -webkit-clip-path: polygon(20% 100%, 80% 100%, 58.3333% 0, 41.6666% 0);
        -webkit-animation: umbrella17 ease 6s forwards;
                animation: umbrella17 ease 6s forwards; }

@-webkit-keyframes umbrella17 {
  0% {
    -webkit-transform: rotateY(360deg) translateZ(5px) rotateX(0);
            transform: rotateY(360deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(360deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(360deg) translateZ(5px) rotateX(50deg); } }

@keyframes umbrella17 {
  0% {
    -webkit-transform: rotateY(360deg) translateZ(5px) rotateX(0);
            transform: rotateY(360deg) translateZ(5px) rotateX(0); }
  100% {
    -webkit-transform: rotateY(360deg) translateZ(5px) rotateX(50deg);
            transform: rotateY(360deg) translateZ(5px) rotateX(50deg); } }
    .wrapper .umbrella_wrap .hand {
      position: absolute;
      top: 30%;
      left: 45%;
      width: 3px;
      height: 80px;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
      .wrapper .umbrella_wrap .hand > div {
        width: 100%;
        height: 100%;
        position: absolute; }
      .wrapper .umbrella_wrap .hand .face1 {
        background-color: rgba(50, 50, 30, 0.1);
        -webkit-transform: rotateY(0deg) translateZ(1.5px) rotateX(0);
                transform: rotateY(0deg) translateZ(1.5px) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .umbrella_wrap .hand .face2 {
        background-color: rgba(50, 50, 30, 0.1);
        -webkit-transform: rotateY(60deg) translateZ(1.5px) rotateX(0);
                transform: rotateY(60deg) translateZ(1.5px) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .umbrella_wrap .hand .face3 {
        background-color: rgba(50, 50, 30, 0.1);
        -webkit-transform: rotateY(120deg) translateZ(1.5px) rotateX(0);
                transform: rotateY(120deg) translateZ(1.5px) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .umbrella_wrap .hand .face4 {
        background-color: rgba(50, 50, 30, 0.1);
        -webkit-transform: rotateY(180deg) translateZ(1.5px) rotateX(0);
                transform: rotateY(180deg) translateZ(1.5px) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .umbrella_wrap .hand .face5 {
        background-color: rgba(50, 50, 30, 0.1);
        -webkit-transform: rotateY(240deg) translateZ(1.5px) rotateX(0);
                transform: rotateY(240deg) translateZ(1.5px) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .umbrella_wrap .hand .face6 {
        background-color: rgba(50, 50, 30, 0.1);
        -webkit-transform: rotateY(300deg) translateZ(1.5px) rotateX(0);
                transform: rotateY(300deg) translateZ(1.5px) rotateX(0);
        -webkit-clip-path: none; }
      .wrapper .umbrella_wrap .hand .face7 {
        background-color: rgba(50, 50, 30, 0.1);
        -webkit-transform: rotateY(360deg) translateZ(1.5px) rotateX(0);
                transform: rotateY(360deg) translateZ(1.5px) rotateX(0);
        -webkit-clip-path: none; }

.flw1 {
  width: 50px;
  height: 50px;
  -webkit-transform: rotate3d(0.8, 0.2, 0.8, -60deg);
          transform: rotate3d(0.8, 0.2, 0.8, -60deg); }
  .flw1 .face1 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(0deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(0deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face2 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(36deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(36deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face3 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(72deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(72deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face4 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(108deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(108deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face5 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(144deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(144deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face6 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(180deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(180deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face7 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(216deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(216deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face8 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(252deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(252deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face9 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(288deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(288deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face10 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(324deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(324deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw1 .face11 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(360deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(360deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }

.flw2 {
  width: 40px;
  height: 40px;
  -webkit-transform: rotate3d(0.6, 0.6, 0.1, 55deg);
          transform: rotate3d(0.6, 0.6, 0.1, 55deg); }
  .flw2 .face1 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(0deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(0deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw2 .face2 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(45deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(45deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw2 .face3 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(90deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(90deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw2 .face4 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(135deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(135deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw2 .face5 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(180deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(180deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw2 .face6 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(225deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(225deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw2 .face7 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(270deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(270deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw2 .face8 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(315deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(315deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw2 .face9 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(360deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(360deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }

.flw3 {
  width: 45px;
  height: 45px;
  -webkit-transform: rotate3d(0.6, 0.2, 0.8, 20deg);
          transform: rotate3d(0.6, 0.2, 0.8, 20deg); }
  .flw3 .face1 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(0deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(0deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw3 .face2 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(45deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(45deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw3 .face3 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(90deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(90deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw3 .face4 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(135deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(135deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw3 .face5 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(180deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(180deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw3 .face6 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(225deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(225deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw3 .face7 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(270deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(270deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw3 .face8 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(315deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(315deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw3 .face9 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(360deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(360deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }

.flw4 {
  width: 48px;
  height: 48px;
  -webkit-transform: rotate3d(0.5, 0, 0.1, -60deg);
          transform: rotate3d(0.5, 0, 0.1, -60deg); }
  .flw4 .face1 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(0deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(0deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face2 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(36deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(36deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face3 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(72deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(72deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face4 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(108deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(108deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face5 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(144deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(144deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face6 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(180deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(180deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face7 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(216deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(216deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face8 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(252deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(252deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face9 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(288deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(288deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face10 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(324deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(324deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }
  .flw4 .face11 {
    background-color: rgba(55, 55, 240, 0.4);
    -webkit-transform: rotateY(360deg) translateZ(-15px) rotateX(-45deg);
            transform: rotateY(360deg) translateZ(-15px) rotateX(-45deg);
    -webkit-clip-path: polygon(0 0, 50% 50%, 90% 0, 0 0); }

.box_wrap1 {
  bottom: 20%;
  left: 31%;
  -webkit-transform: rotate3d(0.8, 0.6, 0.2, -10deg) scale(6);
          transform: rotate3d(0.8, 0.6, 0.2, -10deg) scale(6); }

.box_wrap2 {
  bottom: 20%;
  left: 68%;
  -webkit-transform: rotate3d(0.8, 0.6, 0.2, -4deg) scale(6);
          transform: rotate3d(0.8, 0.6, 0.2, -4deg) scale(6); }

.box_wrap3 {
  bottom: 20%;
  left: 37%;
  -webkit-transform: rotate3d(0.8, 0.6, 0.2, -14deg) scale(6);
          transform: rotate3d(0.8, 0.6, 0.2, -14deg) scale(6); }

.box_wrap4 {
  bottom: 20%;
  left: 23%;
  -webkit-transform: rotate3d(0.8, 0.6, 0.2, -17deg) scale(6);
          transform: rotate3d(0.8, 0.6, 0.2, -17deg) scale(6); }

.box_wrap5 {
  bottom: 20%;
  left: 59%;
  -webkit-transform: rotate3d(0.8, 0.6, 0.2, -15deg) scale(6);
          transform: rotate3d(0.8, 0.6, 0.2, -15deg) scale(6); }

.box_wrap6 {
  bottom: 20%;
  left: 65%;
  -webkit-transform: rotate3d(0.8, 0.6, 0.2, -20deg) scale(6);
          transform: rotate3d(0.8, 0.6, 0.2, -20deg) scale(6); }

.box_wrap7 {
  bottom: 20%;
  left: 54%;
  -webkit-transform: rotate3d(0.8, 0.6, 0.2, -17deg) scale(6);
          transform: rotate3d(0.8, 0.6, 0.2, -17deg) scale(6); }

.box_wrap8 {
  bottom: 20%;
  left: 55%;
  -webkit-transform: rotate3d(0.8, 0.6, 0.2, -1deg) scale(6);
          transform: rotate3d(0.8, 0.6, 0.2, -1deg) scale(6); }

.box_wrap9 {
  bottom: 20%;
  left: 19%;
  -webkit-transform: rotate3d(0.8, 0.6, 0.2, -5deg) scale(6);
          transform: rotate3d(0.8, 0.6, 0.2, -5deg) scale(6); }

@-webkit-keyframes flw {
  0% {
    -webkit-transform: rotate3d(0.2, 0.4, 0.2, 20deg) translateY(10px) scale(1);
            transform: rotate3d(0.2, 0.4, 0.2, 20deg) translateY(10px) scale(1); }
  100% {
    -webkit-transform: rotate3d(0.2, 0.4, 0.2, 360deg) translateY(-400px) scale(1.6);
            transform: rotate3d(0.2, 0.4, 0.2, 360deg) translateY(-400px) scale(1.6); } }

@keyframes flw {
  0% {
    -webkit-transform: rotate3d(0.2, 0.4, 0.2, 20deg) translateY(10px) scale(1);
            transform: rotate3d(0.2, 0.4, 0.2, 20deg) translateY(10px) scale(1); }
  100% {
    -webkit-transform: rotate3d(0.2, 0.4, 0.2, 360deg) translateY(-400px) scale(1.6);
            transform: rotate3d(0.2, 0.4, 0.2, 360deg) translateY(-400px) scale(1.6); } }
