@-webkit-keyframes eye_left {
  0% {
    margin: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin: 14% 0 0 32%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    margin: 24% 0 0 46%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes eye_left {
  0% {
    margin: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin: 14% 0 0 32%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    margin: 24% 0 0 46%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes eye_right {
  0% {
    margin: 4% 0 0 44%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin: 14% 0 0 22%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    margin: 22% 0 0 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes eye_right {
  0% {
    margin: 4% 0 0 44%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin: 14% 0 0 22%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    margin: 22% 0 0 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.clown .clown_wrapper {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 160px;
}
.clown .clown_wrapper .face {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #d0311b;
  overflow: hidden;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 50% 50% 100% 100%;
  border-top-left-radius: 100% 50%;
  border-top-right-radius: 100% 50%;
  -webkit-box-shadow: 1px 1px 10px #999;
          box-shadow: 1px 1px 10px #999;
}
.clown .clown_wrapper .face .chin {
  position: absolute;
  z-index: 1;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 40%;
  height: 25%;
  background-color: #fbe2b9;
  border-radius: 60% 60% 100% 100%;
  margin: auto;
  -webkit-box-shadow: 0 -6px 0 6px #000, 0 -8px 0 8px #fff;
          box-shadow: 0 -6px 0 6px #000, 0 -8px 0 8px #fff;
}
.clown .clown_wrapper .face .chin .mouth {
  width: 60%;
  height: 25%;
  margin: auto;
  border-radius: 0 0 100% 100%;
  background-color: #d63a23;
  -webkit-box-shadow: inset 0 -1px 1px 0 #fff;
          box-shadow: inset 0 -1px 1px 0 #fff;
}
.clown .clown_wrapper .face .center {
  width: 8%;
  height: 6%;
  border-radius: 100%;
  margin: 50% auto;
  background-color: #d0311b;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #d0311b, 0 0 0 7px #fce714;
          box-shadow: 0 0 0 2px #fff, 0 0 0 4px #d0311b, 0 0 0 7px #fce714;
  position: relative;
}
.clown .clown_wrapper .face .center:before {
  content: "";
  position: absolute;
  bottom: -405%;
  z-index: 1;
  display: block;
  width: 100%;
  height: 1150%;
  border-radius: 100%;
  background-color: #fce714;
  z-index: 2;
}
.clown .clown_wrapper .face .eye {
  position: absolute;
  z-index: 4;
  margin: auto;
  top: 35%;
  width: 20%;
  height: 10%;
  background-color: #fff;
}
.clown .clown_wrapper .face .eye .inside {
  width: 55%;
  height: 70%;
  border-radius: 100%;
  background-color: #b6712e;
  -webkit-box-shadow: inset 0 0 4px #000;
          box-shadow: inset 0 0 4px #000;
}
.clown .clown_wrapper .face .eye .eyeContent {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  z-index: 5;
  width: 40%;
  height: 30%;
  border-radius: 100%;
  background-color: #fff;
}
.clown .clown_wrapper .face .eye.eye_left {
  left: 15%;
  border-radius: 10% 100% 10% 100%;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.clown .clown_wrapper .face .eye.eye_left .inside {
  margin: 14% 0 0 32%;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: eye_left 0.3s  ease infinite alternate;
          animation: eye_left 0.3s  ease infinite alternate;
}
.clown .clown_wrapper .face .eye.eye_left .inside:before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  z-index: 5;
  width: 40%;
  height: 30%;
  border-radius: 100%;
  background-color: #fff;
  right: 10%;
  -webkit-box-shadow: -1px 1px 0 2px #000;
          box-shadow: -1px 1px 0 2px #000;
}
.clown .clown_wrapper .face .eye.eye_right {
  right: 15%;
  border-radius: 100% 10% 100% 10%;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}
.clown .clown_wrapper .face .eye.eye_right .inside {
  margin: 14% 0 0 22%;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-animation: eye_right 0.3s  ease infinite alternate;
          animation: eye_right 0.3s  ease infinite alternate;
}
.clown .clown_wrapper .face .eye.eye_right .inside:before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  z-index: 5;
  width: 40%;
  height: 30%;
  border-radius: 100%;
  background-color: #fff;
  left: 10%;
  -webkit-box-shadow: 1px 1px 0 2px #000;
          box-shadow: 1px 1px 0 2px #000;
}
.clown .clown_wrapper .face .eye_around {
  position: absolute;
  top: 5%;
  z-index: 3;
  width: 0;
  height: 0;
  border: 48px solid;
  border-radius: 100%;
}
.clown .clown_wrapper .face .eye_around:before {
  content: "";
  position: absolute;
  left: -40px;
  top: -40px;
  z-index: 3;
  width: 0;
  height: 0;
  border: 40px solid;
  border-radius: 100%;
}
.clown .clown_wrapper .face .eye_around.eye_around_left {
  border-color: transparent transparent #fff transparent;
  left: -6%;
  -webkit-transform: rotate(110deg);
      -ms-transform: rotate(110deg);
          transform: rotate(110deg);
}
.clown .clown_wrapper .face .eye_around.eye_around_left:before {
  border-color: transparent transparent #000 transparent;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.clown .clown_wrapper .face .eye_around.eye_around_right {
  border-color: #fff transparent transparent transparent;
  right: -6%;
  -webkit-transform: rotate(70deg);
      -ms-transform: rotate(70deg);
          transform: rotate(70deg);
}
.clown .clown_wrapper .face .eye_around.eye_around_right:before {
  border-color: #000 transparent transparent transparent;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}
.clown .clown_wrapper .face .nose_wrapper {
  position: absolute;
  z-index: 2;
  width: 45%;
  height: 16%;
  bottom: 138%;
  margin: auto;
  left: 0;
  right: 0;
}
.clown .clown_wrapper .face .nose_wrapper .noseContent {
  content: "";
  display: block;
  border: 1px solid #000;
  border-radius: 0 0 50% 50%;
  width: 210%;
  height: 260%;
  border-top: none;
  border-right: none;
  position: relative;
  bottom: 155%;
}
.clown .clown_wrapper .face .nose_wrapper .nose {
  display: inline-block;
  width: 33%;
  height: 100%;
  border-radius: 100%;
  background-color: #000;
}
.clown .clown_wrapper .face .nose_wrapper .nose.nose_left {
  float: left;
}
.clown .clown_wrapper .face .nose_wrapper .nose.nose_left:before {
  content: "";
  display: block;
  border: 1px solid #000;
  border-radius: 0 0 50% 50%;
  width: 210%;
  height: 260%;
  border-top: none;
  border-right: none;
  position: relative;
  bottom: 155%;
  right: 35%;
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
}
.clown .clown_wrapper .face .nose_wrapper .nose.nose_right {
  float: right;
}
.clown .clown_wrapper .face .nose_wrapper .nose.nose_right:before {
  content: "";
  display: block;
  border: 1px solid #000;
  border-radius: 0 0 50% 50%;
  width: 210%;
  height: 260%;
  border-top: none;
  border-right: none;
  position: relative;
  bottom: 155%;
  right: 78%;
  -webkit-transform: rotate(-35deg) scale(-1, 1);
      -ms-transform: rotate(-35deg) scale(-1, 1);
          transform: rotate(-35deg) scale(-1, 1);
}
.clown .clown_wrapper .year {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 12%;
  height: 25%;
  background-color: #f8d491;
  -webkit-box-shadow: inset 0 -1px 2px 0 #999;
          box-shadow: inset 0 -1px 2px 0 #999;
  border-radius: 200% 100% 100% 300%;
}
.clown .clown_wrapper .year.year_left {
  left: -10px;
}
.clown .clown_wrapper .year.year_right {
  right: -12px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
